<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <span class="logo-text">Yka Blogs</span>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/new-post">Add New Post</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/contacts">Contacts</a></li>
            </ul>
        </nav>
    </header>
    <h1><center>About me</center></h1>
    <h2>Hello everyone! My name is Ykylas. I will tell you briefly about myself.
        I was born in Kazakhstan, in Atyrau region, in the city of Kulsary. I am 19 years old, studying in the 2nd year at Astana IT University.I want to get a 100% rating on assignment 3. </h2>
    <h3><center>I am very glad to meet all of you, my readers! Welcome to my blog!</center></h3>
    <footer>
        <p>&copy; 2023 Yka Blogs. All rights reserved.</p>
    </footer>
</body>
</html>
