<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <span class="logo-text">Yka Blogs</span>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/new-post">Add New Post</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/contacts">Contacts</a></li>
            </ul>
        </nav>
    </header>
    <h1><center>Contacts</center></h1>
    <h2><center><i class="fas fa-phone-alt"></i> My phone number: 87787410835</center</h2>
    <h2><center><i class="far fa-envelope"></i> My E-mail: y.zhetibayev@bk.ru</center></h2>  
    <h2><center><i class="fab fa-instagram"></i> My Instagram: @zhetibaev_04 </center></h2>
    </h2>
    <footer>
        <p>&copy; 2023 Yka Blogs. All rights reserved.</p>
    </footer>
</body>
</html>
