body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.logo {
    margin-right: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label,
input,
textarea,
button {
    display: block;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

header {
    background-color: #7775fd;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #7775fd;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

main {
    flex: 1;
    padding: 20px;
}

.post {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.post h2 {
    color: #333;
    margin-bottom: 10px;
}

.post-content {
    max-height: 100px;
    overflow: hidden;
}
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #7775fd;
}

h2 {
    font-size: 1.5em;
    line-height: 1.6;
}

.read-more-button {
    display: none;
    margin-top: 10px;
    background-color: #7775fd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.post:hover .read-more-button {
    display: inline-block;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
